body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #000000;
    width: 100%;
    max-width: 400px;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: calc(100% - 22px);
}

button {
    cursor: pointer;
}

.with-kids {
    color: blue;
    font-weight: bold;
}

.not-with-kids {
    color: pink;
    font-weight: bold;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }
    body {
        padding: 10px;
    }
}
